/* styles in src/style directory are applied to the whole page */
body {
  background: #0147A7;
  color: #fff;
}

a {
  color: #03A9F4;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

img {
  width: 100px;
}

.flexbox {
  display: flex;
  flex-direction: row;
}

.flexbox > div, .flexbox > simple {
  flex: 1;
  padding: 1em;
  margin: 1em;
  -webkit-transition: height 1s, ease-in-out 0;
  -moz-transition: height 1s, ease-in-out 0;
  transition: height 1s, ease-in-out 0;
}

.turbine {
  border: 1px solid rgb(50,50,50);
  color: rgb(50,50,50);
  background-color: white;
}